   <!-- <section style="background: url(/public/assets/bg/Mask\ Group\ 3.png); min-height: 85vh !important; background-position: center;">
                <div class="container-fluid">
                    <div style="display: flex; flex-direction: row;">
                        <div class="wm-title-container">
                            <span class="title-wm-text">WORLD MAP</span>
                            <p class="desc-wm-text">Explore the beautiful world of Temeris,<br> where your adventures awaits!</p>
                        </div>
                        <div>
                            <img src="/public/assets/Toad card.png">
                        </div>
                    </div>
                </div>
            </section> -->
            <section style="background: url(/public/assets/bg/pvp.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
                <div class="pos-svg-arena">
                    <svg id="vs-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="173" height="385" viewBox="0 0 173 385">
                        <defs>
                        <pattern id="pattern-cloud" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 181 230">
                            <image width="181" height="230" xlink:href="/public/assets/Group%2011-image3.png"/>
                        </pattern>
                        <pattern id="pattern-cloud-2" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 186 226">
                            <image width="186" height="226" xlink:href="public/assets/Group%2011-image4.png"/>
                        </pattern>
                        </defs>
                        <g id="Group_11" data-name="Group 11" transform="translate(-1 0.697)">
                        <image id="Layer_995_copy_2" data-name="Layer 995 copy 2" width="92" height="385" transform="translate(38 -0.697)" xlink:href="/public/assets/Group%2011-image.png"/>
                        <image id="Layer_995" data-name="Layer 995" width="131" height="362" transform="translate(22 4.303)" xlink:href="/public/assets/Group%2011-image2.png"/>
                        <rect id="S" width="108" height="138" transform="translate(66 151.302)" fill="url(#pattern-cloud)"/>
                        <rect id="V" width="111" height="136" transform="translate(1 99.303)" fill="url(#pattern-cloud-2)"/>
                        </g>
                    </svg>
                </div>

                <!--SKILL CARD-->
                <div class="container-fluid" style="position: absolute; bottom: 0; background: linear-gradient(90deg, rgba(40,40,40,0.2) 0%, rgba(255,255,255,0.2) 100%); ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 adjust-center">
                                <div class="wrap-title-desc align-center">
                                    <h1>SKILL CARD</h1>
                                    <div>
                                        <span>Collect rare skill cards and use them to your advantage in battle. They offer a wide array of skills, passives, and more!</span>
                                    </div>
                                </div>
        
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: end;">
                                <!-- <div>
                                    <img src="/public/assets/skill-card.png">
                                </div> -->
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <img src="/public/assets/skill-card/prana vengeance.png">
                                    <img src="/public/assets/skill-card/large slime.png">
                                    <img src="/public/assets/skill-card/Cross Impact card.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; width: 100%; bottom: 0; background: linear-gradient(90deg, rgba(0,0,0,0.67) 0%, rgba(0,0,0,0) 100%);">
                    <div class="wrap-title-desc align-center" style="margin-top: 20px; margin-bottom: 20px;">
                        <h1>PVP ARENA</h1>
                        <div style="width: 60%;  ">
                            <span>Build your party and challenge players to earn more rewards daily. Intense battles lead to glorious victory. Rise up above the ranks and show everyone your prowess in battle.</span>
                        </div>
                    </div>
                </div>



            </section>
   
   <%- include ('partials/header',{title:"Evermore Knight"}) %> 
    <main>
        <!--INTRODUCTION-->
        <div style="background: url(/public/assets/bg/splash\ art\ menu\ not\ diagonal.png); background-position: top; background-repeat: no-repeat;">
            <section>
            
            </section>
        </div>
        
        <!--HOME-->
        <div style="background: url(/public/assets/Mask\ Group\ 1.png);; background-size: cover;">
            <!--PARTNER-->
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="display: flex;">
                        <div style="display: flex; align-items: center; ">
                            <div>
                                <button style="background-color: transparent; border: 1pt solid white; color: white; width: 80px;
                                height: 38px; font-weight: 600;">
                                    <span>JOIN US</span>
                                </button>
                            </div>
                            <div class="wrap-social-media">
                                <div>
                                    <a><i class="fa-brands fa-medium fa-icon fa-xl"></i></a>
                                </div>
                                <div>
                                    <a><i class="fa-solid fa-paper-plane fa-icon fa-xl"></i></a>
                                </div>
                                <div>
                                    <a><i class="fa-brands fa-discord fa-icon fa-xl"></i></a>
                                </div>
                                <div>
                                    <a><i class="fa-brands fa-twitter fa-icon fa-xl"></i></a>
                                </div>
                                <div>
                                    <a><i class="fa-brands fa-instagram fa-icon fa-xl"></i></a>
                                </div>
        
                            </div>
                        </div>
    
                    </div>
                    <div class="col-md-6">
                        <div style="display: flex; flex-direction: row;">
                            <div class="adjust-center">
                                <img src="/public/assets/partner/nomina.png">
                            </div>
                            <div class="adjust-center">
                                <img src="/public/assets/partner/muse.png">
                            </div>
                            <div class="adjust-center">
                                <img src="/public/assets/partner/creo.png">
                            </div>
                            <div class="adjust-center">
                                <img src="/public/assets/partner/binance.png">
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <!--NAVBAR-->
            <div class="container-fluid" style="background: rgba(255,255,255,0.06);">
                <div class="container">
                    <nav class="navbar navbar-expand-md main-menu" >
                        <a href="#" class="navbar-brand order-md-last order-0">
                            <img src="/public/assets/icon.png" alt="Evermore Knights" style="max-width: 90%;">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-end" id="mainNav">
                          <ul class="navbar-nav ">
                            <li class="nav-item" style="text-align: center;">
                              <a class="nav-link" href="">LEARN MORE</a>
                            </li>
                            <li class="nav-item " style="text-align: center;">
                              <a class="nav-link" href="">MARKETPLACE</a>
                            </li>
                            <li class="adjust-center">
                                <button class="btn-wallet">
                                    <span>CONNECT WALLET</span>
                                </button>
                            </li>
                          </ul>
                        </div>
                    </nav>

                </div>
            </div>

            <section style="display: flex;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
                            <div class="wrap-title-home-desc">
                                <h1>FREE TO PLAY &<br>PLAY TO EARN</h1>
                                <span>NFT Assets. Turn-Based. Anime-Inspired</span>
                            </div>
        
                            <div>
                                <iframe width="100%" height="290" src="https://www.youtube.com/embed/GBZBlU7Bsyc?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <img src="/public/assets/tyria without aura.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div style="background: #2C3531;">
            <div style="background: url(/public/assets/Mask\ Group\ 2.png); background-repeat: no-repeat; background-size: cover;">
                <!--TURN BASED-->
                <section style="display: flex;">
                    <div class="container-fluid" style="display: flex; justify-content: center;" >
                        <div class="wrap-title-desc align-center" style="width: 55%; ">
                            <h1 >TURN BASED RPG COMBAT</h1>
                            <div style="  background: linear-gradient(90deg, rgba(44,53,49,1) 0%, rgba(44,53,49,0.99) 34%, rgba(36,43,40,0.87) 51%, rgba(36,43,40,0) 100%); ">
                                <span>Anime - inspired RPG combat! Strategy and planning can easily  turn the tide of battle. Witness awesome abilities and pristine gameplay.</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div style="background: #2C3531;">
            <div style="background: url(/public/assets/combat/bg-based-hero.svg); background-position: bottom; background-repeat: no-repeat; background-size: cover;">
                <section style="display: flex; align-items: end;">
                    <div>
                        <img src="/public/assets/combat/Group 1720.png">
                    </div>
                </section>
            </div>

        </div>
        
        <div>
            
        </div>

    
        <div style="background: url(/public/assets/bg/orange\ sky.png); background-size: cover; background-position: center;">
            <!--EXCLUSIVE HERO-->
            <section >
                <div>
                    <div class="wrap-title-desc align-center">
                        <h1>EXCLUSIVE HEROES</h1>
                        <div style="width: 60%;  ">
                            <span>Meet valiant heroes that roam the world each with their own unique traits. 
                                There are exclusive characters you can get in game that can vastly help your party in battle. 
                                They are also valuable and limited time NFT’s.</span>
                        </div>
                    </div>
        
                    <div class="carousel" data-flickity>
                        <div class="carousel-cell hero">
                            <img src="/public/assets/hero/astra.png">
                        </div>
                        <div class="carousel-cell hero">
                            <img src="/public/assets/hero/grana.png">
                        </div>
                        <div class="carousel-cell hero">
                            <img src="/public/assets/hero/tyria.png">
                        </div>
                        <div class="carousel-cell hero">
                            <img src="/public/assets/hero/quinn.png">
                        </div>
                        <div class="carousel-cell hero">
                            <img src="/public/assets/hero/laslow.png">
                        </div>
                        <div class="carousel-cell hero">
                            <img src="/public/assets/hero/curtis.png">
                        </div>
                        
                    </div>
                
                </div>
        
            </section>
        </div>

        <div style="background: url(/public/assets/bg/Image_14.png); background-position: top; background-repeat: no-repeat; ">
            <!--ENEMIES-->
            <section>
                <div class="wrap-title-desc align-center" style="padding-top: 50px;">
                    <h1>CHALLENGING ENEMIES AND TOUGH ENCOUNTERS</h1>
                    <div style="width: 60%;  ">
                        <span>Difficult encounters yield higher rewards. Outfitting your party with skills, and well built heroes is the key to success! Monsters and enemies alike won’t go easy on you.</span>
                    </div>
                </div>
            

               
                <div style="flex-direction: row; display: flex;">
                    <img src="/public/assets/Group 1720.png">
                </div>
               
            
        
            </section>
        </div>

        <!--WORLD SECTION-->
        <section>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="/public/assets/world/Image_16.png" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/public/assets/world/Image_23.png" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/public/assets/world/Image_24.png" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

        </section>

        <!--ITEMS EQUIPMENT-->
        <section>
            <div class="container">
                <div class="wrap-title-desc align-center">
                    <h1>EQUIPMENT PIECES</h1>
                </div>
                <div class="carousel" data-flickity='{ "resize": false }'>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 BANGLE.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 NECKLACE.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 RING.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 CIRCLET.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 WAIST.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 RING.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 CIRCLET.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 NECKLACE.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 WAIST.png">
                    </div>
                </div>
            </div>
    
            <div class="container">
                <div class="wrap-title-desc align-center">
                    <h1>MISCELLANEOUS ITEMS</h1>
                </div>
                <div class="carousel" data-flickity='{ "resize": false }'>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 BANGLE.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 NECKLACE.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 RING.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 CIRCLET.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 WAIST.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 RING.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 CIRCLET.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R1 NECKLACE.png">
                    </div>
                    <div class="carousel-cell equip">
                        <img src="/public/assets/equipment/R2 WAIST.png">
                    </div>
                </div>
            </div>
        </section>

        <div style="background: url(/public/assets/bg/Screen\ Shot\ 2021-12-12\ at\ 01.01.15.png); background-position: center;">
            <section>
                <div style="background: linear-gradient(90deg, rgba(0,0,0,0.67) 0%, rgba(0,0,0,0) 100%); margin-top: 10%;">
                    <div class="wrap-title-desc align-center">
                        <h1>NFT CHARACTERS</h1>
                        <div style="width: 60%;  ">
                            <span>Every character will be unique in both appearance and attributes. Build them as you wish to better assist you in your adventure!</span>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <section>
            <!--SKILL CARD-->
            <div class="container-fluid" style="background: linear-gradient(90deg, rgba(40,40,40,0.2) 0%, rgba(255,255,255,0.2) 100%); ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 adjust-center">
                            <div class="wrap-title-desc align-center">
                                <h1>SKILL CARD</h1>
                                <div style="width: 60%;  ">
                                    <span>Collect rare skill cards and use them to your advantage in battle. They offer a wide array of skills, passives, and more!</span>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-md-6" style="display: flex; justify-content: end;">
                            <div>
                                <img src="/public/assets/skill-card/prana vengeance.png">
                                <img src="/public/assets/skill-card/large slime.png">
                                <img src="/public/assets/skill-card/Cross Impact card.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <div style="background: url(/public/assets/bg/Image\ 31.png); background-position: center; background-size: auto;"> 
            <!--PVP ARENA-->
            <section>
                <div class="pos-svg-arena">
                    <svg id="vs-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="173" height="385" viewBox="0 0 173 385">
                        <defs>
                          <pattern id="pattern-cloud" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 181 230">
                            <image width="181" height="230" xlink:href="/public/assets/Group%2011-image3.png"/>
                          </pattern>
                          <pattern id="pattern-cloud-2" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 186 226">
                            <image width="186" height="226" xlink:href="public/assets/Group%2011-image4.png"/>
                          </pattern>
                        </defs>
                        <g id="Group_11" data-name="Group 11" transform="translate(-1 0.697)">
                          <image id="Layer_995_copy_2" data-name="Layer 995 copy 2" width="92" height="385" transform="translate(38 -0.697)" xlink:href="/public/assets/Group%2011-image.png"/>
                          <image id="Layer_995" data-name="Layer 995" width="131" height="362" transform="translate(22 4.303)" xlink:href="/public/assets/Group%2011-image2.png"/>
                          <rect id="S" width="108" height="138" transform="translate(66 151.302)" fill="url(#pattern-cloud)"/>
                          <rect id="V" width="111" height="136" transform="translate(1 99.303)" fill="url(#pattern-cloud-2)"/>
                        </g>
                    </svg>
                </div>

                <div style="position: absolute; width: 100%; bottom: 0; background: linear-gradient(90deg, rgba(0,0,0,0.67) 0%, rgba(0,0,0,0) 100%);">
                    <div class="wrap-title-desc align-center" style="margin-top: 20px; margin-bottom: 20px;">
                        <h1>PVP ARENA</h1>
                        <div style="width: 60%;  ">
                            <span>Build your party and challenge players to earn more rewards daily. Intense battles lead to glorious victory. Rise up above the ranks and show everyone your prowess in battle.</span>
                        </div>
                    </div>
                </div>



            </section>
        </div>

        
    </main>

    <div class="container-fluid" style="background-color: #000000; min-height: 280px; display: flex; justify-content: center; align-items: center;">
        <div class="container ">
            <div class="row">
                <div class="col-sm-6 adjust-footer-mob-size">
                    <img src="/public/assets/evermoreknightsheader1.png">
                    <div style="margin-top: 30px;">
                        <span>
                            © 2021 Evermore Knights. All Rights Reserved
                        </span>
                    </div>
                </div>
         
                <div class="col-sm-6 adjust-footer-mob-size">
                    <div class="adjust-footer-text">
                        <span>
                            Any question / feedback? Please contact us:<br>contact@creoengine.com
                        </span>
                    </div>
                    <div style="float: right; margin-top: 30px;" >
                        <button class="btn-rounded-footer" onclick="parent.open('https://www.facebook.com/CreoEngineGlobal/')"><i class="fa-brands fa-facebook-f"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://twitter.com/creo_engine')"><i class="fa-brands fa-twitter"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://www.instagram.com/creoengine.official/')"><i class="fa-brands fa-instagram"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://discord.gg/X4zBzD92P9')"><i class="fa-brands fa-discord"></i></button>
                        <button class="btn-rounded-footer" onclick="parent.open('https://t.me/CreoEngineChannel')"><i class="fa-solid fa-paper-plane"></i></button>
                        <button class="btn-rounded-footer"onclick="parent.open(' https://www.youtube.com/channel/UCiYbgRVmXNbX7iB9q_9sleA')"><i class="fa-brands fa-youtube"></i></button>
                        <button class="btn-rounded-footer btn-icon"><i class="fa-brands fa-linkedin-in"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js"></script>

    <script>
        gsap.registerPlugin(ScrollTrigger);

        gsap.timeline({
            // defaults: {duration: 1},
            scrollTrigger:{
                trigger: "#vs-svg",
                start: "top center",
                end: "bottom center",
                scrub: 2,
                // ease: "none"
            }
        }).fromTo('#V',{x:25,y:10}, {duration: 1,x:15,y:60}, 0).fromTo('#S',{x:66,y:200}, {duration: 1,x:66,y:150}, 0)
        
        // gsap.timeline({
        //     defaults: {duration: 1},
        //     scrollTrigger:{
        //         trigger: "#vs-svg",
        //         start: "top center",
        //         end: "bottom center",
        //         scrub: true,
        //         // ease: "none"
        //     }
        // }).fromTo('#V',{x:25,y:10}, {x:15,y:60}, 0).fromTo('#S',{x:66,y:200}, {x:66,y:150}, 0)
    </script>
    

</body>
</html>