transform: rotate3d(1, -22, -1, 
-30deg
);
<section style="min-height: fit-content !important; background-color: #F286E8;">
    <div class="container-fluid stack-adjust">
        <div class="image-stack__item image-stack__item--top">
            <img src="/public/assets/bg/Mask Group 1.png" >
        </div>

        <div class="image-stack__item image-stack__item--top2" style="z-index: 3; padding-top: 10%;">
            <div id="hero-title" data-inviewport="slide-up" class="wrap-title-desc align-center">
                <h1>EXCLUSIVE HEROES</h1>
                <div style="background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);">
                    <h2 class="font-span" style="margin: 2%;"> Meet valiant heroes that roam the world each with their own unique traits.<br>
                    There are exclusive characters you can get in game that<br> can vastly help your party in battle.
                    They are also valuable and limited time NFT’s.</h2>
                </div>
            </div>

        </div>
        
        <div class="image-stack__item image-stack__item--middle2" style="top: 20%;">
            
            <!-- Slider main container -->
            <div class="swiper hero-section">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/public/assets/hero/astra.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/assets/hero/curtis.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/assets/hero/grana.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/assets/hero/laslow.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/assets/hero/quinn.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/assets/hero/tyria.png">
                    </div>     
                </div>
                
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev prev-slide"></div>
                <div class="swiper-button-next next-slide"></div>
            
            
            </div>
        </div>

        <div  class="image-stack__item image-stack__item--bottom2">
            <div style="width: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1920 635.573">
                    <defs>
                      <pattern id="pattern-1" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 743 557">
                        <image width="743" height="557" xlink:href="/public/assets/forg-svg/Group%201721-image.png"/>
                      </pattern>
                      <pattern id="pattern-2-1" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 1368.323, 0)" viewBox="0 0 684.162 203.46">
                        <use preserveAspectRatio="none" xlink:href="#image-cloud"/>
                      </pattern>
                      <pattern id="pattern-3-1" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 2446 1786">
                        <image width="2446" height="1786" xlink:href="/public/assets/forg-svg/Group%201721-image3.png"/>
                      </pattern>
                      <pattern id="pattern-4-1" width="1" height="1" patternTransform="matrix(1, 0, 0, -1, 0, 988.317)" viewBox="0 0 660.68 494.159">
                        <image preserveAspectRatio="none" width="660.68" height="494.159" xlink:href="/public/assets/forg-svg/Group%201721-image.png"/>
                      </pattern>
                      <image id="image-cloud" preserveAspectRatio="none" width="684.162" height="203.46" xlink:href="/public/assets/forg-svg/Group%201721-image2.png"/>
                    </defs>
                    <g id="Group_1721" data-name="Group 1721" transform="translate(-818.798 -5402.193)">
                      <rect id="Image_49" data-name="Image 49" width="660.68" height="494.159" transform="translate(818.798 5407.958)" fill="url(#pattern-1)"/>
                      <use id="Image_50" data-name="Image 50" transform="translate(998.346 5626.417) scale(1.282 1.282)" xlink:href="#image-cloud"/>
                      <rect id="Image_51" data-name="Image 51" width="684.162" height="203.46" transform="translate(1769.357 5684.348)" fill="url(#pattern-2-1)"/>
                      <rect id="Image_52" data-name="Image 52" width="516.689" height="376.215" transform="translate(2240.296 6037.766) rotate(-120)" fill="url(#pattern-3-1)"/>
                      <rect id="Image_49-2" data-name="Image 49" width="660.68" height="494.159" transform="translate(2738.798 5902.116) rotate(180)" fill="url(#pattern-4-1)"/>
                      <image id="Layer_1" data-name="Layer 1" width="1601.151" height="173.715" transform="translate(1079.99 5817.37)" xlink:href="/public/assets/forg-svg/Group%201721-image4.png"/>
                    </g>
                </svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1920 635.807">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rectangle_438" data-name="Rectangle 438" width="1920" height="263" transform="translate(818.798 5564)" fill="#fff" stroke="#707070" stroke-width="1"/>
                      </clipPath>
                      <pattern id="pattern-1" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 743 557">
                        <image width="743" height="557" xlink:href="/public/assets/forg-svg/Group%201722-image2.png"/>
                      </pattern>
                      <pattern id="pattern-2-1" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 1368.323, 0)" viewBox="0 0 684.162 203.46">
                        <use preserveAspectRatio="none" xlink:href="#image"/>
                      </pattern>
                      <pattern id="pattern-3-1" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 2446 1786">
                        <image width="2446" height="1786" xlink:href="/public/assets/forg-svg/Group%201722-image4.png"/>
                      </pattern>
                      <pattern id="pattern-4-1" width="1" height="1" patternTransform="matrix(1, 0, 0, -1, 0, 988.317)" viewBox="0 0 660.68 494.159">
                        <image preserveAspectRatio="none" width="660.68" height="494.159" xlink:href="/public/assets/forg-svg/Group%201722-image2.png"/>
                      </pattern>
                      <image id="image" preserveAspectRatio="none" width="684.162" height="203.46" xlink:href="/public/assets/forg-svg/Group%201722-image3.png"/>
                    </defs>
                    <g id="Group_1722" data-name="Group 1722" transform="translate(-894.798 -4865.193)">
                      <g id="Mask_Group_1" data-name="Mask Group 1" transform="translate(76 -326)" clip-path="url(#clip-path)">
                        <image id="cloud" width="6488.685" height="703.981" transform="translate(-1324.326 5434.11)" xlink:href="/public/assets/forg-svg/Group%201722-image.png"/>
                      </g>
                      <g id="Group_1721" data-name="Group 1721" transform="translate(76 -537)">
                        <rect id="Image_49" data-name="Image 49" width="660.68" height="494.159" transform="translate(818.798 5407.958)" fill="url(#pattern-1)"/>
                        <use id="Image_50" data-name="Image 50" transform="translate(998.346 5626.417) scale(1.282 1.282)" xlink:href="#image"/>
                        <rect id="Image_51" data-name="Image 51" width="684.162" height="203.46" transform="translate(1769.357 5684.348)" fill="url(#pattern-2-1)"/>
                        <rect id="Image_52" data-name="Image 52" width="516.689" height="376.215" transform="translate(2240.296 6037.766) rotate(-120)" fill="url(#pattern-3-1)"/>
                        <rect id="Image_49-2" data-name="Image 49" width="660.68" height="494.159" transform="translate(2738.798 5902.116) rotate(180)" fill="url(#pattern-4-1)"/>
                        <image id="Layer_1" data-name="Layer 1" width="1601.151" height="173.715" transform="translate(1079.99 5817.37)" xlink:href="/public/assets/forg-svg/Group%201722-image5.png"/>
                      </g>
                    </g>
                  </svg> -->
                  
            </div>
        </div>

    </div>
    
</section>
<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1920 1907">
                                <defs>
                                  <clipPath id="clip-path">
                                    <rect id="Rectangle_250" data-name="Rectangle 250" width="1920" height="1907" transform="translate(0 2466)" fill="rgba(255,255,255,0.16)" stroke="#707070" stroke-width="1"/>
                                  </clipPath>
                                  <pattern id="pattern-combat" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 2400 1080">
                                    <image width="2400" height="1080" xlink:href="/public/assets/lala/Mask%20Group%201-image.png"/>
                                  </pattern>
                                  <linearGradient id="linear-gradient" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#2c3531"/>
                                    <stop offset="0.527" stop-color="#2c3531" stop-opacity="0.992"/>
                                    <stop offset="0.635" stop-color="#2c3531" stop-opacity="0.867"/>
                                    <stop offset="1" stop-color="#2c3531" stop-opacity="0"/>
                                  </linearGradient>
                                  <linearGradient id="linear-gradient-2" x1="0.5" y1="0.976" x2="0.5" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#2c3531"/>
                                    <stop offset="0.532" stop-color="#2c3531" stop-opacity="0.71"/>
                                    <stop offset="1" stop-color="#2c3531" stop-opacity="0"/>
                                  </linearGradient>
                                  <pattern id="pattern-combat-2" width="1" height="1" viewBox="-2.403 -137.976 536.944 1046.895">
                                    <image preserveAspectRatio="none" width="536.944" height="1046.895" xlink:href="/public/assets/lala/Mask%20Group%201-image4.png"/>
                                  </pattern>
                                  <pattern id="pattern-combat-3" width="1" height="1" viewBox="0 -97.06 277.87 769.085">
                                    <image preserveAspectRatio="none" width="277.87" height="769.085" xlink:href="/public/assets/lala/Mask%20Group%201-image5.png"/>
                                  </pattern>
                                  <linearGradient id="linear-gradient-3" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#d9b08c" stop-opacity="0"/>
                                    <stop offset="0.276" stop-color="#d9b08c" stop-opacity="0.659"/>
                                    <stop offset="0.374" stop-color="#d9b08c" stop-opacity="0.725"/>
                                    <stop offset="0.502" stop-color="#d9b08c" stop-opacity="0.878"/>
                                    <stop offset="1" stop-color="#d9b08c"/>
                                  </linearGradient>
                                  <linearGradient id="linear-gradient-4" x1="1" y1="0.5" x2="0" y2="0.5" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-opacity="0"/>
                                    <stop offset="0" stop-color="#672143"/>
                                    <stop offset="1" stop-color="#545454" stop-opacity="0"/>
                                  </linearGradient>
                                  <pattern id="pattern-combat-4" width="1" height="1" viewBox="-94.646 0.662 5354.188 1945.995">
                                    <image preserveAspectRatio="xMidYMid slice" width="4585.95" height="2063.677" xlink:href="/public/assets/lala/Mask%20Group%201-image15.png"/>
                                  </pattern>
                                  <linearGradient id="linear-gradient-5" x1="1" y1="0.5" x2="0" y2="0.5" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#672143"/>
                                    <stop offset="1" stop-color="#341122"/>
                                  </linearGradient>
                                  <linearGradient id="linear-gradient-6" x1="0.567" y1="1" x2="0.555" y2="-0.178" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-opacity="0.463"/>
                                    <stop offset="1" stop-opacity="0"/>
                                  </linearGradient>
                                  <linearGradient id="linear-gradient-7" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#2c3531" stop-opacity="0.02"/>
                                    <stop offset="0.281" stop-color="#2c3531"/>
                                    <stop offset="0.527" stop-color="#2c3531" stop-opacity="0.992"/>
                                    <stop offset="0.635" stop-color="#2c3531" stop-opacity="0.867"/>
                                    <stop offset="1" stop-color="#2c3531" stop-opacity="0"/>
                                  </linearGradient>
                                  <pattern id="pattern-combat-5" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 743 557">
                                    <image width="743" height="557" xlink:href="/public/assets/lala/Mask%20Group%201-image16.png"/>
                                  </pattern>
                                  <pattern id="pattern-combat-6" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 1368.323, 0)" viewBox="0 0 684.162 203.46">
                                    <use preserveAspectRatio="none" xlink:href="#image-2"/>
                                  </pattern>
                                  <pattern id="pattern-combat-7" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 2446 1786">
                                    <image width="2446" height="1786" xlink:href="/public/assets/lala/Mask%20Group%201-image18.png"/>
                                  </pattern>
                                  <pattern id="pattern-combat-8" width="1" height="1" patternTransform="matrix(1, 0, 0, -1, 0, 988.317)" viewBox="0 0 660.68 494.159">
                                    <image preserveAspectRatio="none" width="660.68" height="494.159" xlink:href="/public/assets/lala/Mask%20Group%201-image16.png"/>
                                  </pattern>
                                  <pattern id="pattern-combat-9" width="1" height="1" patternTransform="matrix(-1, 0, 0, 1, 2411.063, 0)" viewBox="0 0 1205.532 402.536">
                                    <use preserveAspectRatio="none" xlink:href="#image-3"/>
                                  </pattern>
                                  <image id="image" width="629.024" height="62.228" xlink:href="/public/assets/lala/Mask%20Group%201-image14.png"/>
                                  <image id="image-2" preserveAspectRatio="none" width="684.162" height="203.46" xlink:href="/public/assets/lala/Mask%20Group%201-image17.png"/>
                                  <image id="image-3" preserveAspectRatio="none" width="1205.532" height="402.536" xlink:href="/public/assets/lala/Mask%20Group%201-image19.png"/>
                                </defs>
                                <g id="Mask_Group_1" data-name="Mask Group 1" transform="translate(0 -2466)" clip-path="url(#clip-path)">
                                  <g id="Group_1719" data-name="Group 1719" transform="translate(-818.798)">
                                    <rect id="grounds" width="2842.86" height="788.894" transform="translate(333.535 1702.167)" fill="url(#pattern-combat)"/>
                                    <image id="ground_2" data-name="ground 2" width="2580.427" height="692.683" transform="translate(573.503 2407.776)" xlink:href="/public/assets/lala/Mask%20Group%201-image2.png"/>
                                    <rect id="blends2" width="1922.811" height="771.984" transform="translate(819.599 2389.396)" fill="url(#linear-gradient)"/>
                                    <image id="forest_background_combat" data-name="forest background combat" width="1922.562" height="865.153" transform="translate(819.772 3323.179)" xlink:href="/public/assets/lala/Mask%20Group%201-image3.png"/>
                                    <rect id="forest_color_blend" data-name="forest color blend" width="1925.566" height="884.679" transform="translate(819.772 3233.059)" fill="url(#linear-gradient-2)"/>
                                    <rect id="background_wood_right" data-name="background wood right" width="536.944" height="1046.895" transform="matrix(1, 0.017, -0.017, 1, 2344.468, 2917.107)" fill="url(#pattern-combat-2)"/>
                                    <rect id="background_wood_left" data-name="background wood left" width="277.87" height="769.085" transform="translate(1108.156 3174.481)" fill="url(#pattern-combat-3)"/>
                                    <image id="background_wood_center" data-name="background wood center" width="226.802" height="705.885" transform="translate(1874.177 3197.011)" xlink:href="/public/assets/lala/Mask%20Group%201-image6.png"/>
                                    <image id="background_tree_left" data-name="background tree left" width="800.567" height="772.052" transform="translate(1202.031 3085.112)" xlink:href="/public/assets/lala/Mask%20Group%201-image7.png"/>
                                    <image id="background_tree_right" data-name="background tree right" width="794.559" height="903.195" transform="translate(1928.918 2914.635)" xlink:href="/public/assets/lala/Mask%20Group%201-image8.png"/>
                                    <image id="ground" width="2319.841" height="731.475" transform="translate(621.133 3565.001)" xlink:href="/public/assets/lala/Mask%20Group%201-image9.png"/>
                                    <image id="front_tree_left" data-name="front tree left" width="865.929" height="1178.285" transform="translate(467.304 2669.188)" xlink:href="/public/assets/lala/Mask%20Group%201-image10.png"/>
                                    <image id="front_tree_right" data-name="front tree right" width="1024.206" height="1320" transform="translate(2202.225 2569.116)" xlink:href="/public/assets/lala/Mask%20Group%201-image11.png"/>
                                    <image id="bush" width="302.258" height="220.098" transform="translate(1504.785 3564.73)" xlink:href="/public/assets/lala/Mask%20Group%201-image12.png"/>
                                    <image id="stone" width="177.679" height="81.701" transform="translate(1524.187 3712.796)" xlink:href="/public/assets/lala/Mask%20Group%201-image13.png"/>
                                    <use id="Image_43" data-name="Image 43" transform="translate(899.248 4029.35)" opacity="0.597" xlink:href="#image"/>
                                    <use id="Image_44" data-name="Image 44" transform="translate(1115.73 3882.305)" opacity="0.597" xlink:href="#image"/>
                                    <use id="Image_45" data-name="Image 45" transform="translate(781.816 3873.115)" opacity="0.597" xlink:href="#image"/>
                                    <rect id="blend_sand" data-name="blend sand" width="1924.853" height="734.201" transform="translate(819.599 4064.069)" fill="url(#linear-gradient-3)"/>
                                    <rect id="rectangle_for_exclusive_heroes" data-name="rectangle for exclusive heroes" width="1924.853" height="1442.874" transform="translate(2744.452 5749.974) rotate(180)" fill="url(#linear-gradient-4)"/>
                                    <rect id="orange_sky" data-name="orange sky" width="4585.95" height="1666.776" transform="translate(-514.177 4324.308)" fill="url(#pattern-combat-4)"/>
                                    <rect id="bar_exclusive" data-name="bar exclusive" width="1922.811" height="351.273" transform="translate(819.599 4388.792)" opacity="0.573" fill="url(#linear-gradient-5)"/>
                                    <rect id="Rectangle_249" data-name="Rectangle 249" width="1922.811" height="689.271" transform="translate(818.798 5348.495)" fill="url(#linear-gradient-6)"/>
                                    <rect id="blends2-2" data-name="blends2" width="1922.811" height="630.045" transform="translate(819.599 7687.082)" fill="url(#linear-gradient-7)"/>
                                    <g id="Group_1717" data-name="Group 1717" transform="translate(819.772 5402.193)">
                                      <rect id="Image_49" data-name="Image 49" width="660.68" height="494.159" transform="translate(0 5.764)" fill="url(#pattern-combat-5)"/>
                                      <use id="Image_50" data-name="Image 50" transform="translate(179.547 224.223) scale(1.282 1.282)" xlink:href="#image-2"/>
                                      <rect id="Image_51" data-name="Image 51" width="684.162" height="203.46" transform="translate(1007.843 282.154)" fill="url(#pattern-combat-6)"/>
                                      <rect id="Image_52" data-name="Image 52" width="516.689" height="376.215" transform="translate(1478.782 635.573) rotate(-120)" fill="url(#pattern-combat-7)"/>
                                      <rect id="Image_49-2" data-name="Image 49" width="660.68" height="494.159" transform="translate(1977.285 499.923) rotate(180)" fill="url(#pattern-combat-8)"/>
                                    </g>
                                    <use id="Image_53" data-name="Image 53" transform="translate(434.628 4083.47)" xlink:href="#image-3"/>
                                    <rect id="Image_54" data-name="Image 54" width="1205.532" height="402.536" transform="translate(2120.711 4101.967)" fill="url(#pattern-combat-9)"/>
                                    <image id="Image_55" data-name="Image 55" width="564.692" height="168.441" transform="translate(1783.557 4207.028)" xlink:href="/public/assets/lala/Mask%20Group%201-image20.png"/>
                                    <image id="Image_56" data-name="Image 56" width="303.279" height="120.648" transform="translate(1504.785 4256.043)" xlink:href="/public/assets/lala/Mask%20Group%201-image21.png"/>
                                    <text id="_1280x757" data-name="1280x757" transform="translate(2995.653 325.096)" fill="#707070" font-size="28" font-family="ArialMT, Arial"><tspan x="0" y="0">1280x757</tspan></text>
                                  </g>
                                </g>
                            </svg> -->
<!-- <section style="min-height: fit-content !important;">
                <div class="container-fluid stack-adjust">
                    <div class="image-stack__item image-stack__item--top">
                        <img src="/public/assets/bg/home2-1.png">
                    </div>
    
                    <div class="image-stack__item image-stack__item--middle2" style="z-index: 3;">
                        <div style="display: flex; flex-direction: row; justify-content: center;" >
                            <div>
                                <div class="wrap-title-home-desc">
                                    <h1>FREE TO PLAY & PLAY TO EARN</h1>
                                    <span >NFT Assets. Turn-Based. Anime-Inspired</span>
                                </div>
            
                                <div>
                                    <iframe width="100%" height="290" src="https://www.youtube.com/embed/GBZBlU7Bsyc?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div>
                                <img src="/public/assets/tyria without aura.png">
                            </div>
                        </div>

                        
                    </div>

                </div>

            </section> -->
  <!--HOME-->
  <!-- <section style="min-height: fit-content !important;">
                <div class="container-fluid stack-adjust">
                    <div class="image-stack__item image-stack__item--top">
                        <img src="/public/assets/bg/home.png">
                    </div>
    
                    <div class="image-stack__item image-stack__item--top2" style="z-index: 3; margin-top: 15%;">
                        <div class="container" style="display: flex; justify-content: end;">
                            <div style="display: flex; flex-direction: column;">
                                <img style="width: calc(100% - 20px); height: calc(100% - 20px);; resize: both;" src="/public/assets/evermoreknights 368x133.png">
                                <div style="display: flex; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
                                    <button class="whitepaper-btn" onclick="parent.open('https://tny.sh/EvermoreKnightsWhitepaper')">WHITE PAPER</button>
                                    <div style="display: flex; flex-direction: row;">
                                        <button class="btn-store"><img src="/public/assets/appstore.png"></button>
                                        <button class="btn-store"><img src="/public/assets/googlestore.png" ></button>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>

                    
                </div>

            </section> -->

<!--TURN BASED-->
<!-- <section style="display: flex; flex-direction: column; min-height: 240vh !important; background: url(/public/assets/bg/turn-combat.png); background-size: cover; background-position: top; background-repeat: no-repeat;">
                <div class="container-fluid" style="position: absolute; top: 35%; display: flex; flex-direction: column; align-items: center; justify-content: center;" >
                    <div class="wrap-title-desc align-center" style="width: 55%; ">
                        <h1 >TURN BASED RPG COMBAT</h1>
                        <div style="  background: linear-gradient(90deg, rgba(36,43,40,0) 0%, rgba(44,53,49,0.79) 34%, rgba(36,43,40,0.77) 51%, rgba(36,43,40,0) 100%); ">
                            <span>Anime - inspired RPG combat! Strategy and planning can easily  turn the tide of battle. Witness awesome abilities and pristine gameplay.</span>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; bottom: 10%;">
                    <img src="/public/assets/combat/Group 1720.png">
                </div>
            </section> -->

<!--ENEMIES-->
<!-- <section style="min-height: 180vh !important; background: url(/public/assets/bg/enemies.png); background-position: top; background-size: cover;">
                <div class="wrap-title-desc align-center" style="padding-top: 50px;">
                    <h1>CHALLENGING ENEMIES AND TOUGH ENCOUNTERS</h1>
                    <div style="width: 60%;  ">
                        <span>Difficult encounters yield higher rewards. Outfitting your party with skills, and well built heroes is the key to success! Monsters and enemies alike won’t go easy on you.</span>
                    </div>
                </div>
            
                <div style="position: absolute; bottom: 0; right: 0;">
                    <img src="/public/assets/Group 1721.png">
                </div>
            </section> -->
            
<!--EXCLUSIVE HERO-->
             <!-- <section style="min-height: 175vh !important; display: flex; flex-direction: column; background: url(/public/assets/bg/hero.png); background-size: cover; background-position: bottom;" >
                <div>
                    <div class="wrap-title-desc align-center">
                        <h1>EXCLUSIVE HEROES</h1>
                        <div style="width: 80%;"  class="line-height-adjust">
                            <span>Meet valiant heroes that roam the world each with their own unique traits. 
                                There are exclusive characters you can get in game that can vastly help your party in battle. 
                                They are also valuable and limited time NFT’s.</span>
                        </div>
                    </div>                   
                </div>
                <div class="container-fluid">
                    
                    <div class="swiper hero-section">
                        
                        <div class="swiper-wrapper">
                           
                            <div class="swiper-slide">
                                <img src="/public/assets/hero/astra.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="/public/assets/hero/curtis.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="/public/assets/hero/grana.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="/public/assets/hero/laslow.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="/public/assets/hero/quinn.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="/public/assets/hero/tyria.png">
                            </div>     
                        </div>
                        
                    
                       
                        <div class="swiper-button-prev prev-slide"></div>
                        <div class="swiper-button-next next-slide"></div>
                    
                      
                    </div>
                </div> 
            </section> -->